Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

📝 Update security policy (#1775)
  SECURITY.md
Due: none

📝 Tweak additional wording around Click vendoring
  .github/DISCUSSION_TEMPLATE/questions.yml
  CITATION.cff
  README.md
  docs/alternatives.md
  docs/index.md
  docs/tutorial/install.md
  docs/tutorial/package.md
  typer/.agents/skills/typer/SKILL.md
Due: generate-readme

📝 Add docs section to explain Click vendoring and thanks to the Click team
  docs/tutorial/click.md
  mkdocs.yml
Due: none

📝 Update contributing docs, reference central docs
  docs/contributing.md
Due: none

📝 Update contributing docs, reference central docs (#1777)
  docs/contributing.md
Due: none

📝 Update and simplify docs about help and management
  data/members.yml
  docs/help-typer.md
  docs/management-tasks.md
  docs/management.md
  mkdocs.yml
Due: none

📝 Update and simplify docs about help and management (#1778)
  data/members.yml
  docs/help-typer.md
  docs/management-tasks.md
  docs/management.md
  mkdocs.yml
Due: none

📝 Tweak docs about dependencies
  README.md
  docs/index.md
Due: generate-readme

🔥 Remove config files now in central GitHub repo
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  CONTRIBUTING.md
  SECURITY.md
Due: none

🔥 Remove config files now in central GitHub repo (#1780)
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  CONTRIBUTING.md
  SECURITY.md
Due: none

👷 Configure Dependabot to group updates and update weekly (#1768)
  .github/dependabot.yml
Due: none

📝 Update release notes
  docs/release-notes.md
Due: none

🔖 Release version 0.26.0
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

fix conflicts with Click vendoring PR
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

fix ty warning
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

fix return value for value_from_envvar
  typer/core.py
Due: local-ruff-check, local-ruff-format

add regression test
  tests/test_others.py
Due: local-ruff-check, local-ruff-format

🐛 Ensure that an envvar set for `typer.Option` works as expected (#1788)
  tests/test_others.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.26.1
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

fix parsing of envvar list
  typer/core.py
Due: local-ruff-check, local-ruff-format

clean up test
  tests/test_others.py
Due: local-ruff-check, local-ruff-format

🐛 Ensure that an envvar set for a `typer.Option` list is split on whitespace (#1791)
  tests/test_others.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.26.2
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

integrate the two CLIRunner classes
  tests/test_types_file.py
  typer/_click/testing.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

fix formatting
  tests/test_types_file.py
Due: local-ruff-check, local-ruff-format

remove option for input to be of type IO (unused)
  tests/test_types_file.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

remove unused CLIRunner.catch_exceptions
  tests/test_termui.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

♻️ Unify the testing functionality (#1792)
  tests/test_termui.py
  tests/test_types_file.py
  typer/_click/testing.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

👷 Update version of latest-changes GitHub action
  .github/workflows/latest-changes.yml
Due: none

👷 Update version of latest-changes GitHub action (#1798)
  .github/workflows/latest-changes.yml
Due: none

🔖 Release version 0.26.3
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

docs: fix "environmental variable" to "environment variable".
  README.md
  docs/index.md
  docs/tutorial/commands/help.md
  docs/tutorial/exceptions.md
  typer-slim/README.md
Due: generate-readme

Fix import issues
  typer/command_tree.py
  typer/main.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

👷 Add GitHub Actions prepare release workflow
  .github/workflows/prepare-release.yml
  scripts/prepare_release.py
  tests/test_prepare_release.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor CLI option name
  scripts/prepare_release.py
Due: local-ruff-check, local-ruff-format

👷 Update publish action, do not use uv cache
  .github/workflows/publish.yml
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
