Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

move FuncParamType
  tests/test_type_conversion.py
  typer/_click/types.py
  typer/adapters.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

coercion through RuntimeParam schema, slim down PydanticParamType to DisplayParamType
  tests/test_schema.py
  tests/test_type_conversion.py
  typer/adapters.py
  typer/core.py
  typer/main.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

move out File to param_types and extend RuntimeParam
  tests/test_schema.py
  typer/_click/types.py
  typer/adapters.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

some cleanup and refactor
  typer/_typing.py
  typer/adapters.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

cleanup inline imports
  typer/adapters.py
  typer/completion.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

TyperTuple into param_types
  tests/test_type_conversion.py
  typer/_click/types.py
  typer/main.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

ChoiceRuntimeParam
  tests/test_schema.py
  typer/adapters.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

ChoiceRuntimeParam
  tests/test_schema.py
  typer/adapters.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

clean up ParamType methods and introduce TyperParameter
  tests/test_core.py
  tests/test_schema.py
  typer/_click/core.py
  typer/_click/termui.py
  typer/_click/types.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

docs: fix undefined variable in Option default docstring example
  typer/params.py
Due: local-ruff-check, local-ruff-format

refactors and simplifications
  tests/test_core.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_type_conversion.py
  typer/adapters.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

fix test
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

some more cleanup in RuntimeParam/DeclaredParam/Parameter
  tests/test_schema.py
  typer/_click/core.py
  typer/_click/exceptions.py
  typer/core.py
  typer/main.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

remove ParamType's repr functionality
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_index/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_uuid/test_tutorial001.py
  tests/test_type_conversion.py
  tests/test_types.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

consolidate metavar functionality and discard the short-lived DisplayParamType
  tests/assets/cli/multiapp-docs-title.md
  tests/assets/cli/multiapp-docs.md
  tests/test_core.py
  tests/test_tutorial/test_first_steps/test_tutorial005.py
  tests/test_tutorial/test_options/test_help/test_tutorial003.py
  tests/test_tutorial/test_options/test_help/test_tutorial004.py
  tests/test_tutorial/test_options/test_name/test_tutorial001.py
  tests/test_tutorial/test_options/test_name/test_tutorial002.py
  tests/test_tutorial/test_options/test_name/test_tutorial003.py
  tests/test_tutorial/test_options/test_name/test_tutorial004.py
  tests/test_tutorial/test_options/test_name/test_tutorial005.py
  tests/test_tutorial/test_options/test_password/test_tutorial001.py
  tests/test_tutorial/test_options/test_password/test_tutorial002.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial001.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial002.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial003.py
  tests/test_tutorial/test_options/test_required/test_tutorial001_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_index/test_tutorial001.py
  tests/test_type_conversion.py
  typer/_click/core.py
  typer/_click/types.py
  typer/core.py
  typer/param_types.py
  typer/rich_utils.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

Fix single newlines not collapsed in commands panel in rich mode
  tests/test_rich_markup_mode.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix formatting in `NoSuchOption.format_message()` (#1843)
  typer/_click/exceptions.py
Due: local-ruff-check, local-ruff-format

return metavar in <> and lowercased
  tests/assets/cli/multiapp-docs-title.md
  tests/assets/cli/multiapp-docs.md
  tests/test_tutorial/test_first_steps/test_tutorial005.py
  tests/test_tutorial/test_options/test_help/test_tutorial001.py
  tests/test_tutorial/test_options/test_help/test_tutorial003.py
  tests/test_tutorial/test_options/test_help/test_tutorial004.py
  tests/test_tutorial/test_options/test_name/test_tutorial001.py
  tests/test_tutorial/test_options/test_name/test_tutorial002.py
  tests/test_tutorial/test_options/test_name/test_tutorial003.py
  tests/test_tutorial/test_options/test_name/test_tutorial004.py
  tests/test_tutorial/test_options/test_name/test_tutorial005.py
  tests/test_tutorial/test_options/test_password/test_tutorial001.py
  tests/test_tutorial/test_options/test_password/test_tutorial002.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial001.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial002.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial003.py
  tests/test_tutorial/test_options/test_required/test_tutorial001_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_index/test_tutorial001.py
  tests/test_type_conversion.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

removing CommandSchema for now and make RuntimeParam required
  tests/test_core.py
  tests/test_schema.py
  tests/test_type_conversion.py
  typer/_click/decorators.py
  typer/adapters.py
  typer/core.py
  typer/main.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

fix: remove _typeshed import for Python 3.13 compatibility
  typer/testing.py
Due: local-ruff-check, local-ruff-format

use TyperParameter more often and further unify metavar printing (still TODO: choice)
  tests/assets/completion_argument.py
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial002.py
  tests/test_type_conversion.py
  typer/_click/core.py
  typer/_click/exceptions.py
  typer/_click/types.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

fix metavar for list
  tests/test_type_conversion.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

clean out param_types and move metavar functions to TyperParameter
  typer/core.py
  typer/display.py
  typer/param_types.py
  typer/rich_utils.py
  typer/schema.py
  typer/utils.py
Due: local-ruff-check, local-ruff-format

fix fixture and isolate temp dir
  tests/test_tutorial/test_app_dir/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

clean up default inference
  typer/_click/core.py
  typer/_click/decorators.py
  typer/_click/termui.py
  typer/core.py
  typer/main.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

PassThroughRuntimeParam instead of falling back to str
  tests/test_schema.py
  typer/adapters.py
  typer/core.py
  typer/param_types.py
  typer/schema.py
Due: local-ruff-check, local-ruff-format

small refactors for diff readability
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

optimize TyperGroup.list_commands
  typer/core.py
Due: local-ruff-check, local-ruff-format

Fix alls-green test dependency
  .github/workflows/test.yml
Due: none

👷 Fix alls-green test dependency (#1848)
  .github/workflows/test.yml
Due: none

Remove Publish badge from docs
  README.md
  docs/index.md
Due: generate-readme

📝 Update docs badges: remove Publish badge, it doesn't give extra information (#1850)
  README.md
  docs/index.md
Due: generate-readme

Update Dependabot ecosystem coverage
  .github/dependabot.yml
Due: none

⬆️ Update Dependabot ecosystem coverage (#1851)
  .github/dependabot.yml
Due: none

Group Dependabot updates
  .github/dependabot.yml
Due: none

⬆️ Group Dependabot updates (#1853)
  .github/dependabot.yml
Due: none

Update zizmor workflow security checks
  .github/workflows/zizmor.yml
Due: none

Use default pull request trigger for zizmor
  .github/workflows/zizmor.yml
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
