Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
        -   --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

-   repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy typer
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/index\.md|scripts/docs\.py$
        pass_filenames: false

⬆ Bump pre-commit hooks (#1895)
  .pre-commit-config.yaml
Due: none

🔧 Set Dependabot schedule interval to "monthly" (#1873)
  .github/dependabot.yml
Due: none

⬆️ Bump ty to 0.0.53 (#1877)
  typer/_click/core.py
  uv.lock
Due: local-ruff-check, local-ruff-format

fix missing bits from help strings
  docs/tutorial/arguments/optional.md
  docs/tutorial/typer-app.md
Due: none

do not put brackets around metavar if it's not in the usage string
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/help.md
  tests/assets/cli/multiapp-docs-title.md
  tests/assets/cli/multiapp-docs.md
  tests/assets/cli/richformattedapp-docs.md
  tests/test_rich_utils.py
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

several more doc fixes
  README.md
  docs/index.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/parameter-types/datetime.md
Due: generate-readme

fix borders
  docs/tutorial/arguments/help.md
Due: none

push CI once more to produce docs
  docs/js/custom.js
Due: none

more docs fixes
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/help.md
  docs/tutorial/options/help.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
Due: none

and more docs fixes
  docs/tutorial/commands/arguments.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/help.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/typer-command.md
  docs_src/commands/help/tutorial001_an_py310.py
  docs_src/commands/help/tutorial001_py310.py
  docs_src/commands/help/tutorial002_py310.py
  docs_src/commands/help/tutorial004_an_py310.py
  docs_src/commands/help/tutorial004_py310.py
  docs_src/commands/help/tutorial005_an_py310.py
  docs_src/commands/help/tutorial005_py310.py
  tests/test_completion/example_rich_tags.py
  tests/test_completion/test_completion_complete.py
  tests/test_completion/test_completion_complete_rich.py
  tests/test_tutorial/test_commands/test_help/test_tutorial001.py
  tests/test_tutorial/test_commands/test_help/test_tutorial002.py
  tests/test_tutorial/test_commands/test_help/test_tutorial004.py
  tests/test_tutorial/test_commands/test_help/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

fix outline
  docs/tutorial/commands/help.md
Due: none

more fixes of help displays in docs
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/options/help.md
  docs/tutorial/options/required.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/uuid.md
  docs_src/parameter_types/uuid/tutorial001_py310.py
  tests/test_tutorial/test_parameter_types/test_uuid/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

more display fixes
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/subcommands/add-typer.md
  docs/tutorial/subcommands/nested-subcommands.md
Due: none

fix display of None tuple
  docs/tutorial/multiple-values/options-with-multiple-values.md
  tests/test_tutorial/test_multiple_values/test_options_with_multiple_values/test_tutorial001.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

fix tuple display in docs
  docs/js/custom.js
Due: none

also fix comment line
  docs/js/custom.js
Due: none

one more (final?!) fix
  docs/tutorial/typer-command.md
Due: none

🔖 Release version 0.27.0 (#1899)
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

Fix suggestions exposing hidden commands
  tests/test_suggest_commands.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

📝 Update help docs
  docs/help-typer.md
  docs/management.md
Due: none

📝 Update help docs (#1902)
  docs/help-typer.md
  docs/management.md
Due: none

update test
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

remove brackets around listed arguments
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

ensure [path] isn't seen as markup
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

fix: prevent scroll-to-top upon clicking fast or restart in docs
  docs/js/termynal.js
Due: none

ensure that tuple of None's isn't shown
  typer/core.py
Due: local-ruff-check, local-ruff-format

fix duplicate test
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

🐛 Prevent scroll-to-top on restart/fast buttons in the documentation (#1904)
  docs/js/termynal.js
Due: none

📝 Add Library Skills documentation
  docs/tutorial/install.md
Due: none

📝 Add Library Skills documentation (#1906)
  docs/tutorial/install.md
Due: none

Fix bash completion for COMP_WORDBREAKS characters like colon
  tests/test_completion/test_completion_bash_wordbreaks.py
  typer/_completion_shared.py
Due: local-ruff-check, local-ruff-format

fix(completion): harden bash COMP_WORDBREAKS handling and test
  tests/test_completion/test_completion_bash_wordbreaks.py
  typer/_completion_shared.py
Due: local-ruff-check, local-ruff-format

fix(completion): harden bash COMP_WORDBREAKS handling and test
  tests/test_completion/test_completion_bash_wordbreaks.py
Due: local-ruff-check, local-ruff-format

fix(completion): harden bash COMP_WORDBREAKS handling and test
  typer/_completion_shared.py
Due: local-ruff-check, local-ruff-format
