Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
        -   --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

-   repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy typer
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/index\.md|scripts/docs\.py$
        pass_filenames: false

🐛 Fix highlighting of optional variadic argument metavars (#1508)
  tests/test_rich_utils.py
  tests/utils.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

👷 Add `ty` to the CI `lint` check (#1477)
  pyproject.toml
  scripts/lint.sh
  typer/_completion_classes.py
  typer/cli.py
  typer/main.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🔧 Add ty to pre-commit
  .pre-commit-config.yaml
Due: none

🔧 Remove no longer used requirements.txt file
  requirements-docs-tests.txt
Due: none

🔧 Add ty to pre-commit (#1527)
  .pre-commit-config.yaml
Due: none

📌 Update dependency limits
  pyproject.toml
  uv.lock
Due: none

📌 Upgrade pins
  pyproject.toml
  uv.lock
Due: none

📌 Update internal dependency limits (#1529)
  pyproject.toml
  uv.lock
Due: none

🔧 Update config for labeler
  .github/labeler.yml
Due: none

🎨 Update types and errors, comment ty for now
  .pre-commit-config.yaml
  typer/cli.py
Due: local-ruff-check, local-ruff-format

🔧 Remove no longer used requirements.txt file (#1528)
  requirements-docs-tests.txt
Due: none

🎨 Update types and errors, comment ty for now (#1531)
  .pre-commit-config.yaml
  typer/cli.py
Due: local-ruff-check, local-ruff-format

🔧 Update config for labeler (#1530)
  .github/labeler.yml
Due: none

✏️ Add small rewordings
  docs/tutorial/package.md
Due: none

✏️ Tweak slash styles
  docs/tutorial/package.md
Due: none

📝 Update the "Building a Package" tutorial to use `uv` instead of `poetry` (#1474)
  docs/tutorial/package.md
Due: none

📝 Add reference (code API) docs (#1504)
  docs/reference/context.md
  docs/reference/file_objects.md
  docs/reference/index.md
  docs/reference/parameters.md
  docs/reference/run_launch.md
  docs/reference/typer.md
  mkdocs.yml
  pyproject.toml
  typer/main.py
  typer/models.py
  typer/params.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.21.2
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

Add test for pretty_exceptions_suppress tutorial
  tests/test_tutorial/test_exceptions/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

📝 Tweak docs
  README.md
  docs/index.md
  docs/tutorial/commands/help.md
  docs/tutorial/exceptions.md
Due: generate-readme

📝 Tweak description for typer-cli
  typer-cli/README.md
Due: none

📝 Add README for typer-slim
  typer-slim/README.md
Due: none

🎨 Add type for pdm_build.py to calm mypy down
  pdm_build.py
Due: local-ruff-check, local-ruff-format

🔧 Make wrappers depend on typer without upper bound
  pdm_build.py
Due: local-ruff-check, local-ruff-format

♻️ Update config and PDM hook to not require a config for each package, make typer-slim a wrapper, without code
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

🔧 Remove typing-extensions (after merge and conflicts)
  pyproject.toml
Due: none

🎨 Format pyproject.toml
  pyproject.toml
Due: none

🔧 Tweak config, remove unnecessary sections
  pyproject.toml
Due: none

👷 Update CI tests to redistribute, now it only makes sense to redistribute typer
  .github/workflows/test-redistribute.yml
Due: none

💥 Make `typer-slim` a shallow wrapper around `typer`, always requiring `rich` and `shellingham` (#1522)
  .github/workflows/test-redistribute.yml
  README.md
  docs/features.md
  docs/index.md
  docs/tutorial/commands/help.md
  docs/tutorial/exceptions.md
  docs/tutorial/install.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/help.md
  docs/tutorial/package.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
  docs/tutorial/typer-command.md
  pdm_build.py
  pyproject.toml
  typer-slim/README.md
  typer/_completion_shared.py
  typer/completion.py
  typer/core.py
Due: local-ruff-check, local-ruff-format, generate-readme

🔖 Release version 0.22.0
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

📝 Add more explicit deprecation note in shell packages
  typer-cli/README.md
  typer-slim/README.md
Due: none

📝 Tweak docs
  typer-cli/README.md
  typer-slim/README.md
Due: none

♻️ Simplify build setup scripts and configs for deprecated wrapper packages
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

📝 Add more explicit deprecation note in shell packages (#1534)
  typer-cli/README.md
  typer-slim/README.md
Due: none

♻️ Simplify build setup scripts and configs for deprecated wrapper packages (#1535)
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

🔨 Tweak PDM hook script, remove unnecessary default
  pdm_build.py
Due: local-ruff-check, local-ruff-format

🔨 Tweak PDM hook script, remove unnecessary default (#1536)
  pdm_build.py
Due: local-ruff-check, local-ruff-format

📝 Update docs
  docs/tutorial/exceptions.md
Due: none

♻️ When printing error tracebacks with Rich, default to not showing locals, which are sometimes verbose (#1072)
  docs/tutorial/exceptions.md
  docs_src/exceptions/tutorial002_py39.py
  tests/test_tutorial/test_exceptions/test_tutorial001.py
  tests/test_tutorial/test_exceptions/test_tutorial002.py
  tests/test_tutorial/test_exceptions/test_tutorial003.py
  typer/main.py
Due: local-ruff-check, local-ruff-format
