Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

fix: hide INTEGER from help for count=True options (closes #1869)
  tests/test_core.py
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

👷 Add GH workflow to bump pre-commit hook versions
  .github/dependabot.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

🔧 Set Dependabot schedule interval to "monthly"
  .github/dependabot.yml
Due: none

Revert bumping `ty`
  uv.lock
Due: none

🏷️ Make Parameter.name typed as str instead of str | None
  tests/test_core.py
  typer/_click/core.py
  typer/_click/shell_completion.py
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

⬆️ Bump ty to 0.0.53
  uv.lock
Due: none

Resolve `Unused blanket `type: ignore` directive`
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

⬆️ Update latest-changes to 0.6.1
  .github/workflows/latest-changes.yml
Due: none

⬆️ Update latest-changes to 0.6.1 (#1879)
  .github/workflows/latest-changes.yml
Due: none

⬆️ Update issue-manager to 0.8.1
  .github/workflows/issue-manager.yml
Due: none

⬆️ Update issue-manager to 0.8.1 (#1880)
  .github/workflows/issue-manager.yml
Due: none

Write generated docs as UTF-8
  tests/test_cli/test_doc.py
  typer/cli.py
Due: local-ruff-check, local-ruff-format

Simplify regression test env: drop redundant LANG=C
  tests/test_cli/test_doc.py
Due: local-ruff-check, local-ruff-format

👷 Fix latest-changes checkout target
  .github/workflows/latest-changes.yml
Due: none

👷 Fix latest-changes checkout target (#1883)
  .github/workflows/latest-changes.yml
Due: none

Fix duplicated words in virtual environment documentation
  docs/virtual-environments.md
Due: none

fix: hide INTEGER from help for count=True options (#1869)
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

🐛 Prevent scroll-to-top on restart/fast buttons in `termynal.js`
  docs/js/termynal.js
Due: none

fix(docs): prevent scroll-to-top on restart/fast buttons in termynal.js
  docs/js/termynal.js
Due: none

change metavar display depending on being in usage line or not
  typer/core.py
Due: local-ruff-check, local-ruff-format

fix test
  tests/test_others.py
Due: local-ruff-check, local-ruff-format

use human_readable_name for error hint
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial001.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

fix enum display
  docs/tutorial/parameter-types/enum.md
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial003.py
  tests/test_tutorial/test_parameter_types/test_index/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

make ID uppercase var in the docs
  docs_src/parameter_types/number/tutorial001_an_py310.py
  docs_src/parameter_types/number/tutorial001_py310.py
  docs_src/parameter_types/number/tutorial002_an_py310.py
  docs_src/parameter_types/number/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

few more small fixes
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_uuid/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

add test_param_type_help_metavar test
  tests/test_type_conversion.py
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

fix coverage
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

Fix typos: reusing, in between
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

fix miminum example file from tutorial not showing [PATH_OR_MODULE]
  tests/assets/cli/minimum_main.py
  tests/test_cli/test_help.py
  typer/cli.py
Due: local-ruff-check, local-ruff-format

fix coverage
  tests/assets/cli/minimum_main.py
Due: local-ruff-check, local-ruff-format

ensure Rich doesn't swallow a lowercased path_or_module annotation
  tests/test_rich_utils.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

ensure Rich doesn't print <boolean> for flags
  tests/test_rich_utils.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

docs fixes (WIP)
  README.md
  docs/index.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/first-steps.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/typer-app.md
  docs/tutorial/typer-command.md
Due: generate-readme

fix javascript to escape html
  README.md
  docs/index.md
  docs/js/custom.js
Due: generate-readme

final fixes first page of tutorial
  README.md
  docs/index.md
Due: generate-readme

restore all the HTML we do want :-)
  docs/js/custom.js
Due: none

many more docs fixes (still WIP)
  README.md
  docs/index.md
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/arguments.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/first-steps.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/one-file-per-command.md
  docs/tutorial/options/help.md
  docs/tutorial/options/prompt.md
  docs/tutorial/options/required.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/typer-app.md
  docs/tutorial/typer-command.md
  typer/.agents/skills/typer/SKILL.md
Due: generate-readme

fix types vs HTML tags, continued
  docs/tutorial/commands/help.md
  docs/tutorial/first-steps.md
  docs/tutorial/options/help.md
Due: none

update docstrings to be consistent
  docs_src/arguments/help/tutorial002_an_py310.py
  docs_src/arguments/help/tutorial002_py310.py
  docs_src/arguments/help/tutorial003_an_py310.py
  docs_src/arguments/help/tutorial003_py310.py
  docs_src/arguments/help/tutorial004_an_py310.py
  docs_src/arguments/help/tutorial004_py310.py
  docs_src/arguments/help/tutorial007_an_py310.py
  docs_src/arguments/help/tutorial007_py310.py
  docs_src/arguments/help/tutorial008_an_py310.py
  docs_src/arguments/help/tutorial008_py310.py
  docs_src/first_steps/tutorial006_py310.py
  docs_src/options/help/tutorial001_an_py310.py
  docs_src/options/help/tutorial001_py310.py
  docs_src/options/help/tutorial002_an_py310.py
  docs_src/options/help/tutorial002_py310.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial002.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial003.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial004.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial007.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial008.py
  tests/test_tutorial/test_first_steps/test_tutorial006.py
  tests/test_tutorial/test_options/test_help/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

👷 Add GH workflow to bump pre-commit hook versions (#1872)
  .github/dependabot.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
