Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update docs format to latest on master
  docs/tutorial/commands/name.md
  docs_src/commands/name/tutorial002_py39.py
  docs_src/commands/name/tutorial003_py39.py
  tests/test_tutorial/test_commands/test_name/test_tutorial002.py
  tests/test_tutorial/test_commands/test_name/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

Update `management-tasks.md`
  docs/management-tasks.md
Due: none

Update other parts in `management-tasks.md`
  docs/management-tasks.md
Due: none

📝 Update `management-tasks.md` to be in line with `management-tasks.md` in FastAPI repo (#1519)
  docs/management-tasks.md
Due: none

docs: Add information about terminal width for testing output
  docs/tutorial/testing.md
Due: none

Remove empty line
  docs/tutorial/testing.md
Due: none

update docs for typer-slim
  README.md
  docs/features.md
  docs/index.md
  docs/tutorial/package.md
  docs/tutorial/typer-command.md
Due: generate-readme

few more fixes in the docs
  README.md
  docs/index.md
  docs/tutorial/install.md
Due: generate-readme

add typer as dependency of typer-slim
  pyproject.toml
Due: none

assume shellingham is always present
  typer/_completion_shared.py
  typer/completion.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

change HAS_RICH to USE_RICH and read from env var TYPER_USE_RICH
  tests/assets/type_error_no_rich.py
  tests/assets/type_error_no_rich_short_disable.py
  tests/test_corner_cases.py
  tests/test_tutorial/test_arguments/test_envvar/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial008.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial003.py
  tests/test_tutorial/test_commands/test_callback/test_tutorial001.py
  tests/test_tutorial/test_options/test_required/test_tutorial001_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_terminating/test_tutorial003.py
  typer/cli.py
  typer/core.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

test: Add failing tests exposing tuple/list handling bugs
  tests/test_typer_bugs.py
Due: local-ruff-check, local-ruff-format

update docs
  README.md
  docs/index.md
  docs/tutorial/commands/help.md
  docs/tutorial/exceptions.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/help.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
Due: generate-readme

revert back to HAS_RICH
  tests/assets/type_error_no_rich.py
  tests/assets/type_error_no_rich_short_disable.py
  tests/test_corner_cases.py
  tests/test_tutorial/test_arguments/test_envvar/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial008.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial003.py
  tests/test_tutorial/test_commands/test_callback/test_tutorial001.py
  tests/test_tutorial/test_options/test_required/test_tutorial001_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_terminating/test_tutorial003.py
  typer/cli.py
  typer/core.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

use full version to avoid confusion (for now)
  typer/_completion_classes.py
Due: local-ruff-check, local-ruff-format

few import fixes in the vendored files
  typer/_click/core.py
  typer/_click/types.py
Due: local-ruff-check, local-ruff-format

fix stderr test
  tests/test_tutorial/test_printing/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

switch to Click 8.3.1
  tests/test_tutorial/test_printing/test_tutorial004.py
  typer/_click/__init__.py
  typer/_click/_compat.py
  typer/_click/_termui_impl.py
  typer/_click/_textwrap.py
  typer/_click/_utils.py
  typer/_click/_winconsole.py
  typer/_click/core.py
  typer/_click/decorators.py
  typer/_click/exceptions.py
  typer/_click/formatting.py
  typer/_click/globals.py
  typer/_click/parser.py
  typer/_click/shell_completion.py
  typer/_click/termui.py
  typer/_click/testing.py
  typer/_click/types.py
  typer/_click/utils.py
Due: local-ruff-check, local-ruff-format

remove deprecation warnings for Click 9.0
  typer/_click/__init__.py
Due: local-ruff-check, local-ruff-format

update uv lock
  uv.lock
Due: none

remove Python 3.9 test
  .github/workflows/test.yml
Due: none

avoid ruff E402 warning
  typer/_click/_winconsole.py
Due: local-ruff-check, local-ruff-format

remove code paths for Click < 8.2
  typer/core.py
  typer/rich_utils.py
  typer/utils.py
Due: local-ruff-check, local-ruff-format

remove unused variable
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

remove more code specific only to <8.2
  typer/_completion_classes.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

remove using_click documentation
  docs/tutorial/using-click.md
  docs_src/using_click/__init__.py
  docs_src/using_click/tutorial001_py39.py
  docs_src/using_click/tutorial002_py39.py
  docs_src/using_click/tutorial003_py39.py
  docs_src/using_click/tutorial004_py39.py
  mkdocs.yml
  pyproject.toml
  tests/test_tutorial/test_using_click/__init__.py
  tests/test_tutorial/test_using_click/test_tutorial001.py
  tests/test_tutorial/test_using_click/test_tutorial002.py
  tests/test_tutorial/test_using_click/test_tutorial003.py
  tests/test_tutorial/test_using_click/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

remove reference to Click design difference
  docs/tutorial/commands/index.md
Due: none

clean up click decorators code
  typer/_click/__init__.py
  typer/_click/decorators.py
Due: local-ruff-check, local-ruff-format

remove command and group from click's core
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

Update `requires-python` to `>=3.10`
  pyproject.toml
  uv.lock
Due: none

Update dependency version pins to make tests pass on lowest versions
  pyproject.toml
  uv.lock
Due: none

Configure test matrix to also test with lowest dependencies
  .github/workflows/test.yml
Due: none

Update `pytest` lower pin to avoid `DeprecationWarning: ast.Str is deprecated`
  pyproject.toml
  uv.lock
Due: none

remove Click's shell_complete (Typer overwrites it)
  typer/_click/shell_completion.py
Due: local-ruff-check, local-ruff-format

restore Click's shell_complete for now
  typer/_click/shell_completion.py
Due: local-ruff-check, local-ruff-format

Relax back some lower version pins
  pyproject.toml
  uv.lock
Due: none

Update lower pin for `pytest-sugar` to avoid `ModuleNotFoundError: No module named 'distutils'`
  pyproject.toml
  uv.lock
Due: none

🐛 Fix `--help` text alignment when using `typer.style()` in option descriptions (#1356)
  tests/test_rich_utils.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

➖ Drop `typing-extensions` as external dependency (#1467)
  pyproject.toml
  typer/_typing.py
  uv.lock
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
