Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
        -   --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

-   repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy typer
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/index\.md|scripts/docs\.py$
        pass_filenames: false

🔥 Remove Python 3.9 specific code, Click < 8.2
  typer/core.py
Due: local-ruff-check, local-ruff-format

🔨 Add internal scripts to migrate docs from Python 3.9 to 3.10
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme

🔖 Release version 0.24.0
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

Update to Python 3.10 syntax
  docs_src/multiple_values/multiple_options_with_multiple_values/tutorial001_an_py310.py
  docs_src/multiple_values/multiple_options_with_multiple_values/tutorial001_py310.py
  pyproject.toml
  tests/test_tutorial/test_multiple_values/test_multiple_options_with_multiple_values/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

🔨 Add internal scripts to migrate docs from Python 3.9 to 3.10 (#1547)
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme

refactor to py310
  docs/tutorial/parameter-types/enum.md
  docs_src/parameter_types/enum/tutorial005_an_py310.py
  docs_src/parameter_types/enum/tutorial005_py310.py
  docs_src/parameter_types/enum/tutorial006_an_py310.py
  docs_src/parameter_types/enum/tutorial006_py310.py
  docs_src/parameter_types/enum/tutorial007_an_py310.py
  docs_src/parameter_types/enum/tutorial007_py310.py
  pyproject.toml
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial005.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial006.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial007.py
Due: local-ruff-check, local-ruff-format

🎨 Upgrade types for Python 3.10
  scripts/mkdocs_hooks.py
  tests/test_completion/test_sanitization.py
  tests/test_deprecation.py
  tests/test_others.py
  typer/_completion_shared.py
  typer/_types.py
  typer/cli.py
  typer/main.py
  typer/models.py
  typer/params.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

🔥 Remove no longer needed code for Click < 8.2
  typer/_completion_classes.py
Due: local-ruff-check, local-ruff-format

🎨 Format code
  typer/main.py
Due: local-ruff-check, local-ruff-format

🎨 Format types
  typer/_completion_classes.py
  typer/_types.py
  typer/cli.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

🎨 Upgrade types for Python 3.10 (#1549)
  scripts/mkdocs_hooks.py
  tests/test_completion/test_sanitization.py
  tests/test_deprecation.py
  tests/test_others.py
  typer/_completion_classes.py
  typer/_completion_shared.py
  typer/_types.py
  typer/cli.py
  typer/main.py
  typer/models.py
  typer/params.py
  typer/testing.py
Due: local-ruff-check, local-ruff-format

format
  typer/main.py
Due: local-ruff-check, local-ruff-format

🎨 Upgrade rich_expand typing to Python 3.10+
  docs/tutorial/commands/help.md
  docs_src/commands/help/tutorial009_py310.py
  tests/test_tutorial/test_commands/test_help/test_tutorial009.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

Clarify that only TERMINAL_WIDTH is relevant at import time
  docs/tutorial/testing.md
Due: none

Fix zsh completion install to respect ZDOTDIR environment variable
  tests/test_completion/test_completion_install.py
  typer/_completion_shared.py
Due: local-ruff-check, local-ruff-format

Fix Enum option value lost when callback is used
  tests/test_type_conversion.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

Raise clear error when multiple arguments accept multiple values
  tests/test_type_conversion.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

Rename tutorial to _py310
  docs_src/exceptions/tutorial005_py310.py
  tests/test_tutorial/test_exceptions/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

Update docs include for renamed tutorial src file
  docs/tutorial/exceptions.md
Due: none

Fix code include
  docs/tutorial/multiple-values/multiple-options-with-multiple-values.md
Due: none

Fix #1156: Argument metavar displays as name in rich help panel
  tests/test_argument_metavar_rich.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

Fix enum convertor returning None for already-converted enum values
  typer/main.py
Due: local-ruff-check, local-ruff-format

Fix Option(None) in Annotated crashing with AttributeError
  typer/utils.py
Due: local-ruff-check, local-ruff-format

Add test for enum convertor with already-converted value
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

➖ Drop support for `typer-slim` and `typer-cli`, no more versions will be released, use only `typer`
  .github/labeler.yml
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

➖ Drop support for `typer-slim` and `typer-cli`, no more versions will be released, use only `typer` (#1568)
  .github/labeler.yml
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

👷 Fix CI, do not attempt to build `typer-slim`, nor `typer-cli`
  .github/workflows/publish.yml
Due: none

👷 Fix CI, do not attempt to build `typer-slim`, nor `typer-cli` (#1569)
  .github/workflows/publish.yml
Due: none

🔖 Release version 0.24.1
  docs/release-notes.md
  typer/__init__.py
Due: local-ruff-check, local-ruff-format

🔧 Upgrade pytest version and config
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade coverage
  pyproject.toml
  uv.lock
Due: none

🔧 Upgrade pytest version and config (#1570)
  pyproject.toml
  uv.lock
Due: none

format
  typer/_completion_classes.py
Due: local-ruff-check, local-ruff-format

fix leftover issue from merge conflict
  uv.lock
Due: none

remove CommandCollection
  typer/_click/__init__.py
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

remove to_info_dict functions
  typer/_click/core.py
  typer/_click/types.py
Due: local-ruff-check, local-ruff-format

restore envvar_list_splitter
  typer/_click/types.py
Due: local-ruff-check, local-ruff-format

remove open_file
  typer/__init__.py
  typer/_click/__init__.py
  typer/_click/types.py
  typer/_click/utils.py
Due: local-ruff-check, local-ruff-format

remove UnprocessedParamType
  typer/_click/__init__.py
  typer/_click/types.py
Due: local-ruff-check, local-ruff-format
