Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

remove KeepOpenFile
  typer/_click/utils.py
Due: local-ruff-check, local-ruff-format

remove pager functionality
  typer/__init__.py
  typer/_click/__init__.py
  typer/_click/_termui_impl.py
  typer/_click/termui.py
Due: local-ruff-check, local-ruff-format

remove Editor
  typer/__init__.py
  typer/_click/__init__.py
  typer/_click/_termui_impl.py
  typer/_click/termui.py
Due: local-ruff-check, local-ruff-format

remove pause
  typer/__init__.py
  typer/_click/__init__.py
  typer/_click/termui.py
Due: local-ruff-check, local-ruff-format

remove unstyle and clear
  typer/__init__.py
  typer/_click/__init__.py
  typer/_click/termui.py
Due: local-ruff-check, local-ruff-format

dummy edit
  typer/cli.py
Due: local-ruff-check, local-ruff-format

update mkdocstrings-python, remove griffe
  uv.lock
Due: none

revert dummy edit
  typer/cli.py
Due: local-ruff-check, local-ruff-format

⬆ Bump mkdocstrings-python from 2.0.1 to 2.0.3 (#1605)
  uv.lock
Due: none

docs: remove "///" from the bottom of the install.md file
  docs/tutorial/install.md
Due: none

Further cleanup
  docs/tutorial/install.md
Due: none

✏️ Clean up documentation in `install.md` file (#1606)
  docs/tutorial/install.md
Due: none

remove _check_nested_chain
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

remove Click's main function
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

Revert "remove Click's main function"
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

redo automatic removal of imports
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

remove _BaseCommand, _MultiCommand and _FakeSubclassCheck
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

fix: Improve metavar display consistency in Rich help output
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

rename to py310
  docs/tutorial/commands/name.md
  docs_src/commands/name/tutorial002_py310.py
  docs_src/commands/name/tutorial003_py310.py
  tests/test_tutorial/test_commands/test_name/test_tutorial002.py
  tests/test_tutorial/test_commands/test_name/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

rename test files to py310
  docs/tutorial/options-autocompletion.md
  docs_src/options_autocompletion/tutorial010_an_py310.py
  docs_src/options_autocompletion/tutorial010_py310.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial010.py
Due: local-ruff-check, local-ruff-format

format
  typer/core.py
Due: local-ruff-check, local-ruff-format

rename to py310.py
  docs/tutorial/parameter-types/pydantic-types.md
  docs_src/parameter_types/pydantic_types/tutorial001_an_py310.py
  docs_src/parameter_types/pydantic_types/tutorial001_py310.py
  docs_src/parameter_types/pydantic_types/tutorial002_an_py310.py
  docs_src/parameter_types/pydantic_types/tutorial002_py310.py
  docs_src/parameter_types/pydantic_types/tutorial003_an_py310.py
  docs_src/parameter_types/pydantic_types/tutorial003_py310.py
  docs_src/parameter_types/pydantic_types/tutorial004_an_py310.py
  docs_src/parameter_types/pydantic_types/tutorial004_py310.py
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme

update
  tests/test_tutorial/test_parameter_types/test_pydantic_types/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_pydantic_types/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_pydantic_types/test_tutorial003.py
  tests/test_tutorial/test_parameter_types/test_pydantic_types/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

Remove link to Typer developer survey
  README.md
  docs/index.md
Due: generate-readme

📝 Remove link to Typer developer survey (#1609)
  README.md
  docs/index.md
Due: generate-readme

Change envvar type from list[str] to Sequence[str]
  typer/params.py
Due: local-ruff-check, local-ruff-format

Fix mypy error: update implementation type annotations for envvar
  typer/params.py
Due: local-ruff-check, local-ruff-format

Fix mypy: update OptionInfo and ArgumentInfo envvar types
  typer/models.py
Due: local-ruff-check, local-ruff-format

Fix mypy: update TyperOption and TyperArgument envvar types
  typer/core.py
Due: local-ruff-check, local-ruff-format

Add dates to release-notes
  docs/release-notes.md
Due: none

use | instead of Union
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

first draft of the official Typer skill
  typer/.agents/skills/typer/SKILL.md
Due: none

few more additions
  typer/.agents/skills/typer/SKILL.md
Due: none

small fixes
  typer/.agents/skills/typer/SKILL.md
Due: none

further refinements
  typer/.agents/skills/typer/SKILL.md
Due: none

Add missing dates (taken from pypi)
  docs/release-notes.md
Due: none

Configure pre-commit to add a date to the latest release header
  .pre-commit-config.yaml
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

🔨 Handle external links `target=_blank` and CSS automatically in JS and CSS
  docs/css/custom.css
  docs/js/custom.js
Due: none

🔨 Handle external links `target=_blank` and CSS automatically in JS and CSS (#1622)
  docs/css/custom.css
  docs/js/custom.js
Due: none

📝 Update link syntax to minimal Markdown
  README.md
  docs/alternatives.md
  docs/contributing.md
  docs/environment-variables.md
  docs/features.md
  docs/help-typer.md
  docs/index.md
  docs/management-tasks.md
  docs/management.md
  docs/tutorial/app-dir.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/context.md
  docs/tutorial/commands/help.md
  docs/tutorial/index.md
  docs/tutorial/install.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/package.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
  docs/tutorial/subcommands/callback-override.md
  docs/tutorial/subcommands/index.md
  docs/tutorial/testing.md
  docs/tutorial/typer-app.md
  docs/virtual-environments.md
Due: generate-readme

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
