Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

test(completion): skip bash COMP_WORDBREAKS integration on Windows
  tests/test_completion/test_completion_bash_wordbreaks.py
Due: local-ruff-check, local-ruff-format

test(completion): cover missing-bash error path
  tests/test_completion/test_completion_bash_wordbreaks.py
Due: local-ruff-check, local-ruff-format

fix coverage, part 1
  tests/test_coercion.py
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

separate argv encoding fallback test
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

clean up test file
  tests/test_coercion.py
Due: local-ruff-check, local-ruff-format

add textwrap test
  tests/test_cli/test_help.py
Due: local-ruff-check, local-ruff-format

overriden Parameter functionality becomes abstract
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

add few more pragma no covers
  typer/_click/exceptions.py
  typer/core.py
  typer/display.py
Due: local-ruff-check, local-ruff-format

ensure coverage of adapters.py is 100%
  tests/test_termui.py
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial002.py
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

cleanup of coercion.py and ensure coverage is 100%
  tests/test_others.py
  tests/test_termui.py
  typer/coercion.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade latest-changes to 0.7.1 (#1909)
  .github/workflows/latest-changes.yml
Due: none

Improve README clarity
  README.md
Due: none

fix: remove hyperlink property of restart and fast
  docs/js/termynal.js
Due: none

fix: add hover for fast and restart elements
  docs/css/custom.css
Due: none

cleanup of TyperArgument and fix coverage of core.py
  tests/test_core.py
  typer/core.py
Due: local-ruff-check, local-ruff-format

fix function definition
  typer/core.py
  typer/main.py
Due: local-ruff-check, local-ruff-format

fix coverage of param_types.py
  tests/test_type_conversion.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

add pragma no cover
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

remove ty ignore
  typer/_click/core.py
Due: local-ruff-check, local-ruff-format

make Parameter.name a str and never None
  typer/_click/core.py
  typer/_click/shell_completion.py
  typer/core.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

small refactors
  typer/models.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

few more small refactors
  typer/adapters.py
  typer/coercion.py
Due: local-ruff-check, local-ruff-format

cleanup
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

restore app_dir test
  tests/test_tutorial/test_app_dir/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

update tutorial for datetime formats
  docs/tutorial/parameter-types/datetime.md
  docs_src/parameter_types/datetime/tutorial002_an_py310.py
  docs_src/parameter_types/datetime/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

update test to check both formats
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

update tutorial parts around types
  docs/tutorial/parameter-types/index.md
Due: none

update tutorial around numbers and ranges
  docs/tutorial/parameter-types/number.md
Due: none

update tutorial around path types
  docs/tutorial/parameter-types/path.md
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

update uuid error msg
  docs/tutorial/parameter-types/uuid.md
Due: none

fix: remove redudant css code and add to correct place
  docs/css/custom.css
  docs/css/termynal.css
Due: none

add pydantic to listed requirements in the docs
  README.md
  docs/index.md
  docs/tutorial/install.md
Due: generate-readme

fix typo
  docs/tutorial/parameter-types/datetime.md
Due: none

restore bwd-compat behaviour of parsing path-like args as a Path (except for str typed)
  tests/test_type_conversion.py
  typer/adapters.py
  typer/coercion.py
  typer/core.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

Any now falls through
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

remove Any test
  tests/test_type_conversion.py
Due: local-ruff-check, local-ruff-format

explicit routes_to_path function to prevent duplicate code in separate places
  typer/adapters.py
  typer/coercion.py
  typer/core.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

more path fixes
  tests/test_others.py
  typer/coercion.py
  typer/param_types.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-readme: any of: ^docs/index\.md|scripts/docs\.py$
