Repository fastapi/typer: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, generate-readme

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
        -   --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

-   repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy typer
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/index\.md|scripts/docs\.py$
        pass_filenames: false

close PR when external dependencies are modified
  .github/workflows/guard-dependencies.yml
Due: none

add new rule in docs
  docs/help-typer.md
Due: none

Write bash completion output as raw bytes
  tests/test_completion/test_completion_complete.py
  typer/completion.py
Due: local-ruff-check, local-ruff-format

fix: omit hidden commands/options from utils docs markdown
  tests/test_cli_docs_hidden.py
  typer/cli.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade Zensical
  pyproject.toml
  uv.lock
Due: none

📝 Update MkDocs / Zensical configs
  docs/management.md
  mkdocs.yml
Due: none

🔧 Remove MkDocs dependencies and configs
  mkdocs.yml
  pyproject.toml
  scripts/mkdocs_hooks.py
  uv.lock
Due: local-ruff-check, local-ruff-format

📌 Add only Zensical, do not upgrade lock
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade mkdocstrings
  pyproject.toml
  uv.lock
Due: none

🔧 Remove unnecessary Ruff rule
  pyproject.toml
Due: none

📌 Pin max version of Click as it has incompatibilities
  pyproject.toml
  uv.lock
Due: none

📌 Pin max version of Click to `>= 8.2.1, < 8.4` temporarily to prevent incompatibilities (#1753)
  pyproject.toml
  uv.lock
Due: none

🔧 Remove unnecessary Ruff rule (#1752)
  pyproject.toml
Due: none

➖ Remove MkDocs dependencies
  pyproject.toml
  uv.lock
Due: none

📝 Tweak content
  docs/index.md
  docs/management.md
Due: generate-readme

⬆️ Migrate to Zensical (#1470)
  docs/contributing.md
  docs/index.md
  docs/management.md
  mkdocs.yml
  pyproject.toml
  scripts/docs.py
  scripts/mkdocs_hooks.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-readme

🔧 Fix GitHub link in docs
  mkdocs.yml
Due: none

🔧 Fix GitHub link in docs (#1754)
  mkdocs.yml
Due: none

📝 Update and simplify usage of admonitions
  docs/alternatives.md
  docs/contributing.md
  docs/help-typer.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/help.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/name.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/subcommands/name-and-help.md
  docs/tutorial/testing.md
  docs/tutorial/typer-app.md
  docs/virtual-environments.md
  mkdocs.yml
Due: none

📝 Update and simplify usage of admonitions (#1755)
  docs/alternatives.md
  docs/contributing.md
  docs/help-typer.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/help.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/name.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/subcommands/name-and-help.md
  docs/tutorial/testing.md
  docs/tutorial/typer-app.md
  docs/virtual-environments.md
  mkdocs.yml
Due: none

📝 Update link syntax to minimal Markdown (#1623)
  README.md
  docs/alternatives.md
  docs/contributing.md
  docs/environment-variables.md
  docs/features.md
  docs/help-typer.md
  docs/index.md
  docs/management-tasks.md
  docs/management.md
  docs/tutorial/app-dir.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/context.md
  docs/tutorial/commands/help.md
  docs/tutorial/index.md
  docs/tutorial/install.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/package.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
  docs/tutorial/subcommands/callback-override.md
  docs/tutorial/subcommands/index.md
  docs/tutorial/testing.md
  docs/tutorial/typer-app.md
  docs/virtual-environments.md
Due: generate-readme

Assert help text appears in zsh completion output for colon-containing values
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

Address review: pair value/help asserts and extend to powershell + pwsh
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

restore original order to minimize PR diff
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

✅ Extend completion unit tests for zsh, powershell and pwsh (#1767)
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

👷 Configure Dependabot to group updates and update weekly
  .github/dependabot.yml
Due: none

assert that help texts appear too
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

✅ Add Fish shell completion tests for colon options (#1475)
  tests/test_completion/test_completion_option_colon.py
Due: local-ruff-check, local-ruff-format

fix categorization in release notes
  docs/release-notes.md
Due: none

📝 Fix categorization of PR 1475 in release notes (#1769)
  docs/release-notes.md
Due: none

enable ty again
  .pre-commit-config.yaml
Due: none

fix
  tests/test_launch.py
Due: local-ruff-check, local-ruff-format

fix uv lock
  uv.lock
Due: none

fix type issues
  typer/_click/_compat.py
  typer/_click/_winconsole.py
  typer/_click/core.py
  typer/_click/testing.py
  typer/_click/types.py
  typer/_click/utils.py
  typer/_completion_classes.py
  typer/_completion_shared.py
  typer/_types.py
  typer/completion.py
  typer/core.py
  typer/main.py
  typer/models.py
  typer/params.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

few more fixes
  typer/_click/_winconsole.py
  typer/_click/core.py
  typer/_click/utils.py
Due: local-ruff-check, local-ruff-format

Enable `ty` and resolve typing issues (#1770)
  .pre-commit-config.yaml
  typer/_click/_compat.py
  typer/_click/core.py
  typer/_click/testing.py
  typer/_click/types.py
  typer/_click/utils.py
  typer/_completion_classes.py
  typer/_completion_shared.py
  typer/_types.py
  typer/completion.py
  typer/core.py
  typer/main.py
  typer/models.py
  typer/params.py
  typer/rich_utils.py
Due: local-ruff-check, local-ruff-format

fix "typo"
  typer/_click/parser.py
Due: local-ruff-check, local-ruff-format

update docs
  README.md
  docs/alternatives.md
  docs/features.md
  docs/help-typer.md
  docs/index.md
  docs/tutorial/printing.md
  typer/.agents/skills/typer/SKILL.md
Due: generate-readme

📝 Update security policy
  SECURITY.md
Due: none
